@import "../../node_modules/bulma/bulma";

body {
  height: 100%;
}

.vertical-divider {
    background: $grey-light;
    width: 1px;
}

.horizontal-divider {
    background: $grey-light;
    height: 1px;
}

.title {
    background: lightgray;
    font-size: 20px;
    color: black;
}

.is-main {
    margin-top: 2px;
    margin-left: 5px;
    padding: 10px;
}

.is-stretched {
    margin: 0px;
    border: 1px grey;
    padding: 1px;
    box-shadow: none;
}

.is-custom-button {
    padding: 2px;
    line-height: 5px;
    width: 150px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
}

.is-red {
    background: firebrick;
}

.is-blue {
    background: dodgerblue;
}

.space-marker {
    border: none;
}
