@import "../../node_modules/bulma/bulma";

:root {
    @media screen {
        &[data-theme="dark"] {
            --primary-color: #002E2E;
            --secondary-color: #0AFEFF;
            --theme-primary: white;
            --theme-secondary: black;
            --color__bg: black;
            --color__text: white;
            --color__shadow: #0AFEFF;
        }
        &[data-theme="light"] {
            --primary-color: #002E2E;
            --secondary-color: #0AFEFF;
            --theme-primary: black;
            --theme-secondary: white;
            --color__bg: white;
            --color__text: black;
            --color__shadow: #002E2E;
        }
    }
}

$color__bg: var(--color__bg);
$color__text: var(--color__text);
$color__shadow: var(--color__shadow);


@keyframes glowing {
    0% {
        background-color: $color__bg;
        box-shadow: 0 0 5px $color__shadow;
    }
    50% {
        background-color: $color__bg;
        box-shadow: 0 0 20px $color__shadow;
    }
    100% {
        background-color: $color__bg;
        box-shadow: 0 0 5px $color__shadow;
    }
}
/**
for the settings modal
 */
.container-settings {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 50px 1fr 30px;
    grid-gap: 5px;
}

.header {
    grid-row: 1;
    grid-column: 1 / 3;
}

.nav {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid var(--primary-color);
}

.content {
    grid-column: 2;
    grid-row: 2;
    padding: 10px;
    color: var(--primary-color)
}

.footer {
    grid-row: 3;
    grid-column: 1 / 3;
    text-align: center;
}


/* Child items. */

.header-logo {
    float: left;
    width: 150px;
    background-color: var(--primary-color);
    height: 50px;
    color: var(--secondary-color);
    font-size: 30px;
    padding: 3px 5px;
    box-sizing: border-box;
}

.header-settings {
    float: right;
    height: 50px;
}

.nav-links {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.nav-links--link {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 100%;
    height: 30px;
    margin: 0 0 5px 0;
    padding: 4px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.content-links--link {
    color: var(--theme-primary);
    background-color: var(--theme-secondary);
    width: 100%;
    height: 30px;
    margin: 0 0 5px 0;
    padding: 4px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-links--link.active,
.nav-links--link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-note {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 3px 0;
    display: block;
}

.header--theme-button {
    height: 30px;
    width: 30px;
    margin: 10px 5px 0 0;
    display: inline-block;
    border-top: 15px solid var(--theme-primary);
    border-bottom: 15px solid var(--theme-secondary);
    border-right: 0;
    border-left: 0;
    padding: 0;
    box-shadow: 0 0 3px gray;
}

.header--theme-button:hover {
    box-shadow: 2px 2px 2px gray;
}

.header--theme-button.active {
    box-shadow: 3px 3px 3px gray;
}

/**
for the body
 */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.vertical-divider {
    background: $grey-light;
    width: 0.5px;
}

.horizontal-divider {
    background: $grey-light;
    height: 0.5px;
}

.is-title {
    background: #002E2E;
    font-size: 18px;
    font-weight: bold;
    color: #0AFEFF;
    padding: 3px 3px 3px 3px;
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px !important;
    border-color: $color__shadow !important;
    border-style: solid !important;
    border-radius: 5px 5px 0px 0px;
}

.is-main {
    background: $color__bg;
    color: $color__text;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    border-radius: 5px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: $color__shadow !important;
}

.is-content {
    padding: 10px;
    color: $color__text;
}

.is-stretched {
    margin: 0px;
    border: 1px grey;
    padding: 1px;
    box-shadow: none;
}

.is-telemetry-button {
    margin: 0px;
    padding: 2px;
    line-height: 5px;
    width: 150px;
    border: 2px solid white;
    color: $color__text;
    font-size: 14px;
}

.is-small-button {
    margin: 0px;
    padding: 1px;
    // line-height: 3px;
    width: auto;
    height: auto;
    border: 2px solid black;
    color: $color__text;
    background: lightgrey;
    // font-size: 12px;
}

.is-green {
    background: rgba(0, 128, 0, 0.61);
}

.is-red {
    background: rgba(139, 0, 0, 0.61);
}

.is-blue {
    background: rgba(0, 0, 139, 0.61);
}

.is-mini-title {
    color: #0AFEFF;
    font-weight: bold;
    font-size: 18px;
}

.is-grey {
    background: grey;
}

.is-seclss-background-black {
    background: $color__bg;
}

.is-vertical-filler {
    min-height: 100vh;
}

.space-marker {
    border: none;
}

.scrollable-container {
    border: 1px solid $grey-light;
    margin: 2px;
    height: 150px;
    overflow-y: scroll;
    resize: vertical;
}

.scrollable-mcccontainer {
    border: 1px solid #0AFEFF;
    margin: 2px;
    max-height: 400px;
    overflow-y: scroll;
}

.multiselect__tags, .multiselect__tags span, .multiselect__tags input, .multiselect__content-wrapper {
    background: $color__bg;
    color: $color__text;
}

.multiselect__content {
    color: $color__text;
}

.is-multiselect {
    height: 70px;
}

.chat-message-daphne {
    color: $white;
    background: #303030;
}
.chat-message-user {
    color: $white;
    background: $cyan;
}

.is-header {
    position: sticky;
    height: 40px;
    line-height: 40px;
    top: 0px;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: $color__bg;
    color: $color__text;
}

.procedure {
    margin-left: 30px;
    margin-right: 30px;
}

.procedure-header {
    cursor: pointer;
    background: $color__text;
    font-size: 18px;
    color: $color__text;
    padding: 3px 3px 3px 3px;
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px !important;
    border-color: $color__shadow !important;
    border-style: solid !important;
    border-radius: 5px 5px 0px 0px;
}

.procedure-body   {
    padding: 0;
    overflow: hidden;
    transition: 0.3s ease all !important;
}

.is-closed .procedure-body {
    max-height: 0;
}

.procedure-content {
    padding: 20px;
}

.is-main-footer {
    background: $color__bg;
    color: $color__text;
    text-align: center !important;
}

.is-chat-input {
    background-color: $color__bg;
    border-color: $color__shadow;
    color: $color__text;
}
