@import "../../node_modules/bulma/bulma";

body {
  height: 100%;
}

.vertical-divider {
    background: $grey-light;
    width: 1px;
}

.horizontal-divider {
    background: $grey-light;
    height: 1px;
}

.is-title {
    background: #002E2E;
    font-size: 18px;
    font-weight: bold;
    color: #0AFEFF;
    padding: 3px 3px 3px 3px;
    margin: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px !important;
    border-color: #0AFEFF !important;
    border-style: solid !important;
    border-radius: 5px 5px 0px 0px;
}

.is-main {
    background: black;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    border-radius: 5px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #0AFEFF !important;
}

.is-content {
    padding: 10px;
    color: white;
}

.is-stretched {
    margin: 0px;
    border: 1px grey;
    padding: 1px;
    box-shadow: none;
}

.is-telemetry-button {
    margin: 0px;
    padding: 2px;
    line-height: 5px;
    width: 150px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
}

.is-small-button {
    margin: 0px;
    padding: 1px;
    // line-height: 3px;
    width: auto;
    height: auto;
    border: 2px solid black;
    color: black;
    background: lightgrey;
    // font-size: 12px;
}

.is-green {
    background: rgba(0, 128, 0, 0.61);
}

.is-red {
    background: rgba(139, 0, 0, 0.61);
}

.is-blue {
    background: rgba(0, 0, 139, 0.61);
}

.is-grey {
    background: grey;
}

.is-seclss-background-black {
    background: #111111;
}

.space-marker {
    border: none;
}
